.header {
 background: url('images/pool.jpg');
 height: 150px;
 background-size: cover;
 background-position: center;
}

.header h1 {

    color: rgb(119, 237, 219);
    text-align: center;
    padding-top: 60px;
}
.nav {

background-color: rgb(232, 198, 8);
height: 30px;
padding-top: 15px;

}

.nav ul {

    margin-top: 0px;

}

.nav ul li {


list-style: none;
display: inline;
padding: 10px ;
}

.nav a {

    color: white;
}